@model int
@{
    ViewData["Title"] = "Details";
}

<h1>Details A</h1>

Has pulsado el id = @Model
<br />
<br />
<p>
    <a asp-action="Edit" asp-route-id="@Model">Edit</a>, <a asp-controller="A" asp-action="Protect">Protect</a> or go to <a asp-action="Index" asp-controller="Home">Home</a>
</p>