
@{
    ViewData["Title"] = "Index";
}

<h1>Index A</h1>

<p>Action = Listar</p>
<p>Resource = A</p>

<p><a asp-controller="A" asp-action="NotDefined">Not accesible action</a></p>

<p>
    <a asp-action="Details" asp-route-id="5">Go to Detail</a> or <a asp-action="Delete" asp-route-id="10">Delete</a> (no record will be harmed)
</p>
